h1, h2, h3, h4, h5, h6 {
    padding: 0;
}

.add_post {
    visibility: hidden;
}

/* ------------------------------------ hotter */
.hotter {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;

    max-height: 500px;
}

.walking, .harticle, .big_add_post {
    display: inline-block;
}

.walking {
    padding: 0px 0px 0px 15px;
    margin: 0;

    max-width: 50%;
    min-width: 710px;
    height: 400px;
}
    .walking img {
        max-height: 100%;
        max-width: 100%;
    }

.harticle {
    padding: 0% 1%;
    height: 400px;

    overflow-y: auto;
}

h2.section {
    margin: 0%;
    padding: 15px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    transition: 1s;
}
h2.section:hover {
    background-color: RGB(59,214,198);
}

.harticle_section {
    
}
.harticle_section h4 {
    margin: 15px 0px 0px 0px;
    font-size: 20px;
}
    .harticle_section h4 a {
        text-decoration: none;
    }
.harticle_section p {
    margin: 5px;
}

.big_add_post {
    position: absolute;
}
.btn_add_post {
    border: 0px;

    padding: 14px;
    font-size: x-large;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    transition: 1s;
}
.btn_add_post:hover {
    background-color: RGB(59,214,198);
}


/* ------------------------------------ all article */
.all_article {
    padding: 5px 15px 0px 15px;
}
.all_article::after { /* Clear float */
    content: '';
    display: block;
    clear: both;

}
.article_section {
    float: left;
    margin: 1%;
    padding: 1%;
}
.article_section:hover {
    background-color: RGB(85,255,255);
}
.article_section p {
    margin: 0;
}

/* Popup for adding new article */
#createArticlePopup {
    position: fixed;
    overflow-y: auto;
    width: 50%;
    /* On the center */
    top: 1%;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px 0px;
    border-radius: 10px;
    background: RGB(56,238,255);
    transition: 10s;
}
/* btn to close */
#closeArticlePopup {
    position: absolute;

    top: 10px;
    right: 10px;

    border-radius: 10px;
}

/* form */
#formArticlePopup {
    margin: 10% 1% 0% 1%;
    
}
/* input container */
#formArticlePopup > div {
    padding: 5px 0px 0px 50px;
}
/* input name */
#formArticlePopup > div > span {
    position: absolute;
    left: 5px;
}
/* Caption to popup section */
#formArticlePopup > div > h3 {
    margin: 15px 0px 0px -50px;
}
#formArticlePopup input[type='submit'], input[type='reset'] { /* Form control buttons */
    width: 40%;
    margin: 5% 5%;
}
input[type='reset'] {
}
/* Checkbox anonymous */
input[name='anonymous'] {
    margin: 0px 0px 0px 50px;
    background: red;
}



/* Common btn style */
.btnCommonStyle {
    border: 0px;
    border-radius: 10px;
    padding: 5%;
    font-size: x-large;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    transition: 1s;
}
.btnCommonStyle:hover {
    background-color: RGB(59,214,198);
}

@media screen and (max-width: 1165px) {
    .big_add_post {
        display: none;
    }

    .add_post {
        visibility: visible;
    }

    /* Form popup */
    #createArticlePopup {
        width: 75%;
    }
}

@media screen and (max-width: 1020px) {

    .walking {
        display: none;
    }

    .harticle {
        display: block;
        width: 80%;
        margin: 0% 10% 0% 10%;
    }

    /* Form popup */
    #createArticlePopup {
        width: 90%;
    }
}

/* min height of body element */
@media screen and (min-height: 730px) {
    body {
        background-color: red;
    }
}