body {
    margin: 0px;
    padding: 0px;
    background-color: RGB(85,255,238);
}

/* ------------------------------------ navbar */
.navbar {
    background-color: RGB(56,238,255);
    height: 50px;

    margin-bottom: 25px;
}
/* navbar container */
.container {
    
}
.container::after {
    content: '';
    display: block;
    clear: both;
}
/* brand img */
.brand {
    float: left;
    margin: 0px 0px 0px 15px;
    padding: 5px;

    transition: 1s;
}
.brand:hover {
    background-color: RGB(85,255,238);
}
.brand img {
    max-height: 40px;
}
/* navbar navigation */
.nav {
    float: right;
    margin: 0;
    padding: 0;
}
/* All elements, that consist our nav menu */
.nav a, .nav div, nav button {
    display: block;
    float: left;

    height: 50px;
    width: 150px;
    line-height: 50px;
    text-align: center;

    font-size: large;
    color: black;
    text-decoration: none;

    cursor: pointer;

    transition: 1s;
}
.nav div:hover, .nav a:hover, .nav button:hover  {
    background-color: RGB(85,255,238);
}

/* Add post in the menu*/
.add_post {
    /*pointer-events:none;  turn off link */
    font-size: x-large !important;
    font-style: italic;
    font-weight: bold;
    background-color: RGB(85,255,238);
    
    font-size: x-large;
    border: 0px;
}

/* us menu: contact, location etc. */
.us {
    position: relative;
}
.us:hover > .ul_us {
    opacity: 1;
    left: 0;
}
.ul_us {
    position: absolute;
    top: 50px;
    left: -999px;

    margin: 0;
    padding: 0;

    text-align: center;
    list-style: none;
    background-color: RGB(56,238,255);

    width: 150px;
    
    opacity: 0;
    transition: 1s;
    z-index: 999999;
}
.ul_us li {
    text-align: center;
    width: 100%;
}
.ul_us li a {
    width: 100%;
}
.ul_us li a:hover {
    color: gold;
}
.small_nav {
    display: none;
}
@media screen and (max-width: 759px) {
    .nav {
        display: none;
    }

    .small_nav {
        display: block;
        float: right;
        margin: 0;
        padding: 0;
    }
    .view_small_nav {
        position: relative;
        display: block;
        float: left;
        height: 50px;
        width: 150px;
        line-height: 50px;
        text-align: center;
        font-size: large;
        color: black;
        text-decoration: none;
        cursor: pointer;
        transition: 1s;
    }
    .view_small_nav:hover {
        background-color: RGB(85,255,238);
    }

        .view_small_nav:hover > .ul_small_nav {
            opacity: 1;
            left: 0;
        }

    .ul_small_nav {
        position: absolute;
        top: 50px;
        left: -999px;
        margin: 0;
        padding: 0;
        text-align: center;
        list-style: none;
        background-color: RGB(56,238,255);
        width: 150px;
        opacity: 0;
        transition: 1s;
        z-index: 999999;
    }

        .ul_small_nav li {
            text-align: center;
            width: 100%;

            transition: 1s;
        }
            .ul_small_nav li:hover {
                background-color: RGB(85,255,238);
                color: gold;
            }

            .ul_small_nav li a {
                width: 100%;
                text-decoration: none;
                color: black;
            }
    .add_post {
        /*pointer-events: none;  turn off link */
        display: inline-block;
        padding: 0px 5px 0px 5px;
        height: 50px;
        line-height: 50px;
        text-decoration: none;
        color: black;
        font-size: large !important;
        font-style: italic;
        font-weight: bold;
        background-color: RGB(85,255,238);
    }
}
@media screen and (max-width: 421px) {
    .add_post {
        width: 75px;
        font-size: small !important;
    }
}
@media screen and (max-width: 330px) {
    .add_post {
        position: absolute;
        left: -9999px;
    }
}


/* Set padding to keep content from hitting the edges */
.body-content {
    /* padding: 10px 15px 0px 15px; */
}

/* set default css */
.section {
    background-color: RGB(137,236,218);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5); /* Параметры тени */
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    font-weight: bold;
    text-align: center;
}