body {
    margin: 0px;
    padding: 0px;
    background-color: RGB(85,255,238);
}

/* ------------------------------------ Bread Crumbs */
.breadCrumbs {
    height: 20px;
    margin-bottom: 25px;
}
.ulbreadCrumbs {
    position: absolute;
    left: -20px;
    list-style: none;
    margin: 0;
}
.ulbreadCrumbs > li {
    display: block;
    float: left;
    text-align: center;
}
.ulbreadCrumbs > li > a {
    display: block;
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
}
.ulbreadCrumbs > li > a:hover {
    text-decoration: underline;

}
.breadCrumbsArticle > a {
    pointer-events: none;
}
/* ------------------------------------ navbar */
.navbar {
    background-color: RGB(56,238,255);
    height: 50px;
}
/* navbar container */
.container {
    
}
.container::after {
    content: '';
    display: block;
    clear: both;
}
/* brand img */
.brand {
    float: left;
    margin: 0px 0px 0px 15px;
    padding: 5px;

    transition: 1s;
}
.brand:hover {
    background-color: RGB(85,255,238);
}
.brand img {
    max-height: 40px;
}
/* navbar navigation */
.nav {
    float: right;
    margin: 0;
    padding: 0;
}
/* All elements, that consist our nav menu */
.nav a, .nav div, nav button {
    display: block;
    float: left;

    height: 50px;
    width: 150px;
    line-height: 50px;
    text-align: center;

    font-size: large;
    color: black;
    text-decoration: none;

    border-right: 1px solid black;
    cursor: pointer;

    transition: 1s;
}
.nav div:hover, .nav a:hover, .nav button:hover  {
    background-color: RGB(85,255,238);
}

/* Add post in the menu*/
.add_post {
    /*pointer-events:none;  turn off link */
    font-size: x-large !important;
    font-style: italic;
    font-weight: bold;
    background-color: RGB(85,255,238);
    
    font-size: x-large;
    border: 0px;
}

/* us menu: contact, location etc. */
.us {
    position: relative;
}
.us:hover > .ul_us {
    opacity: 1;
    left: 0;
}
.ul_us {
    position: absolute;
    top: 50px;
    left: -1999px;

    margin: 0;
    padding: 0;

    text-align: center;
    list-style: none;
    background-color: RGB(56,238,255);

    width: 150px;
    
    opacity: 0;
    transition: 1s;
    z-index: 999999;
}
.ul_us li {
    text-align: center;
    width: 100%;
}
.ul_us li a {
    width: 100%;
}
.ul_us li a:hover {
    color: gold;
}
.small_nav {
    display: none;
}
@media screen and (max-width: 759px) {
    .nav {
        display: none;
    }

    .small_nav {
        display: block;
        float: right;
        margin: 0;
        padding: 0;
    }
    .view_small_nav {
        position: relative;
        display: block;
        float: left;
        height: 50px;
        width: 150px;
        border-right: 1px solid black;
        line-height: 50px;
        text-align: center;
        font-size: large;
        color: black;
        text-decoration: none;
        cursor: pointer;
        transition: 1s;
    }
    .view_small_nav:hover {
        background-color: RGB(85,255,238);
    }

        .view_small_nav:hover > .ul_small_nav {
            opacity: 1;
            left: 0;
        }

    .ul_small_nav {
        position: absolute;
        top: 50px;
        left: -999px;
        margin: 0;
        padding: 0;
        text-align: center;
        list-style: none;
        border-right: 1px solid black;
        background-color: RGB(56,238,255);
        width: 150px;
        opacity: 0;
        transition: 1s;
        z-index: 999999;
    }

        .ul_small_nav li {
            text-align: center;
            width: 100%;

            transition: 1s;
        }
            .ul_small_nav li:hover {
                background-color: RGB(85,255,238);
                color: gold;
            }

            .ul_small_nav li a {
                width: 100%;
                text-decoration: none;
                color: black;
            }
    .add_post {
        /*pointer-events: none;  turn off link */
        display: inline-block;
        padding: 0px 5px 0px 5px;
        height: 50px;
        line-height: 50px;
        text-decoration: none;
        color: black;
        font-size: large !important;
        font-style: italic;
        font-weight: bold;
        background-color: RGB(85,255,238);
    }
}
@media screen and (max-width: 421px) {
    .add_post {
        width: 75px;
        font-size: small !important;
    }
}
@media screen and (max-width: 330px) {
    .add_post {
        position: absolute;
        left: -9999px;
    }
    /* Right border don't need anymore */
    .view_small_nav {
        border-right: 0;
    }
}


/* Set padding to keep content from hitting the edges */
.body-content {
    /* padding: 10px 15px 0px 15px; */
}

/* Popup for adding new article */
#createArticlePopup {
    position: fixed;
    overflow-y: auto;
    width: 50%;
    /* On the center */
    top: 1%;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px 0px;
    border-radius: 10px;
    background: RGB(56,238,255);
    transition: 10s;
}
/* btn to close */
#closeArticlePopup {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 10px;
}
/* form */
#formArticlePopup {
    margin: 10% 1% 0% 1%;
}
    /* input container */
    #formArticlePopup > div {
        padding: 5px 0px 0px 50px;
    }
        /* input name */
        #formArticlePopup > div > span {
            position: absolute;
            left: 5px;
        }
        /* Caption to popup section */
        #formArticlePopup > div > h3 {
            margin: 15px 0px 0px -50px;
        }

    #formArticlePopup input[type='submit'], input[type='reset'] { /* Form control buttons */
        width: 40%;
        margin: 5% 5%;
    }

input[type='reset'] {
}
/* Checkbox anonymous */
input[name='anonymous'] {
    margin: 0px 0px 0px 50px;
}



/* Common btn style */
.btnCommonStyle {
    border: 0px;
    border-radius: 10px;
    padding: 5%;
    font-size: x-large;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    transition: 1s;
}

    .btnCommonStyle:hover {
        background-color: RGB(59,214,198);
    }

/* set default css */
.section {
    background-color: RGB(137,236,218);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5); /* Параметры тени */
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    position: relative;
    font-weight: bold;
    text-align: center;
}

/* Social */
.social-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    margin: 0 auto;
    width: 380px;
    height: 100px;
}

    .social-container .links {
        margin-bottom: 40px;
        text-align: center;
    }

        .social-container .links a {
            margin: 0 20px;
            color: #ccc;
            text-decoration: none;
            font-size: 34px;
            font-weight: bold;
            text-shadow: 0px 2px 3px #fff;
        }

            .social-container .links a:hover {
                color: #ED452A;
            }

.source {
    width: 350px;
    margin: 50px auto 0px;
    background: #eee;
    color: #666;
    font-weight: bold;
    display: block;
    white-space: pre;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset #ccc 0px 0px 6px 0px;
    -moz-box-shadow: inset #ccc 0px 0px 6px 0px;
    box-shadow: inset #ccc 0px 0px 6px 0px;
}