@{
    ViewBag.Title = "Share your experience";
}
<link href="~/Content/index.css" rel="stylesheet" />

<section class="hotter">

    <figure class="walking">
        <img src="~/img/site/blg_bckgrnd.gif" alt="blog for everyone" />
    </figure>

    
    <main class="harticle">
        <h2 class="section"> Top for today </h2>
        <article class="harticle_section">
            <h4><a href="#"><span>1.</span> Blog is open</a></h4>
            <p>Today is the first day of opening the blog</p>
        </article>
        <article class="harticle_section">
            <h4><a href="#"><span>2.</span> Blog is open</a></h4>
            <p>Today is the first day of opening the blog</p>
        </article>
        <article class="harticle_section">
            <h4><a href="#"><span>3.</span> Blog is open</a></h4>
            <p>Today is the first day of opening the blog</p>
        </article>
        <article class="harticle_section">
            <h4><a href="#"><span>4.</span> Blog is open</a></h4>
            <p>Today is the first day of opening the blog</p>
        </article>
        <article class="harticle_section">
            <h4><a href="#"><span>5.</span> Blog is open</a></h4>
            <p>Today is the first day of opening the blog</p>
        </article>
    </main>
    <section class="big_add_post">
        <button class="section btn_add_post"> add post </button>
    </section>
</section>

<hr />
<section class="all_article">
    <article class="article_section">
        <header><a href="#"><span>1.</span> Blog is open</a></header>
        <p>Today is the first day of opening the blog</p>
    </article>
    <article class="article_section">
        <header><a href="#"><span>2.</span> Blog is open</a></header>
        <p>Today is the first day of opening the blog</p>
    </article>
    <article class="article_section">
        <header><a href="#"><span>3.</span> Blog is open</a></header>
        <p>Today is the first day of opening the blog</p>
    </article>
    <article class="article_section">
        <header><a href="#"><span>4.</span> Blog is open</a></header>
        <p>Today is the first day of opening the blog</p>
    </article>
    <article class="article_section">
        <header><a href="#"><span>5.</span> Blog is open</a></header>
        <p>Today is the first day of opening the blog</p>
    </article>
</section>

<script src="~/Models/article.json"></script>
<script src="~/Scripts/article_logic.js" defer></script>